<div class="sidebarBox">
  <p class="sidebarTitle">Upcoming Batche</p>

  <div class="batch-wrap">
    <div class="BatchDate"><span>Auguest 01<sup>st</sup></span></div>
    <div class="BatchWay"><span>Weekend Batch<br><span class="BatchLocation"><i class="fa fa-wifi"></i> Online
        </span></span></div>

  </div>
  <div class="batch-wrap">
    <div class="BatchDate"><span>Auguest 15<sup>nd</sup></span></div>
    <div class="BatchWay"><span>Weekend Batch<br><span class="BatchLocation"><i class="fa fa-wifi"></i> Online
        </span></span></div>
  </div>

</div>