<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h3 class="mb-0 text-nowrap mr-3 left-border">Key Features</h3>
                </div>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>Instructor Led Sessions</h5>image<p></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>Case Studies</h5>image<p></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>Assignments</h5>image<p></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>Lifetime Access</h5>image<p></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>24x7 Expert Support</h5>image<p></p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-1">
                <div class="keyfeatures-warp">
                    <h5>Certification</h5>image<p></p>
                </div>
            </div>

        </div>
        </div>
        </section>