<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h3 class="mb-0 text-nowrap mr-3 left-border">Nearby Access Areas</h3>
                </div>
                <p>Medavakkam, Adyar, Tambaram, Adambakkam, OMR, Anna Salai, Velachery, Ambattur, Ekkattuthangal, Ashok
                    Nagar, Poonamallee, Aminjikarai, Perambur, Anna Nagar, Kodambakkam, Besant Nagar, Purasaiwakkam,
                    Chromepet, Teynampet, Choolaimedu, Madipakkam, Guindy, Navalur, Egmore, Triplicane, K.K. Nagar,
                    Nandanam, Koyambedu, Valasaravakkam, Kilpauk, T.Nagar, Meenambakkam, Thiruvanmiyur, Nungambakkam,
                    Thoraipakkam, Nanganallur, St.Thomas Mount, Mylapore, Pallikaranai, Pallavaram, Porur, Saidapet,
                    Virugambakkam, Siruseri, Perungudi, Vadapalani, Villivakkam, West Mambalam, Sholinganallur.</p>
            </div>
        </div>
    </div>
</section>