<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('assets/images/backgrounds/page-title.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary">Courses</a></li>            
          </ul>
          <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h3 class="mb-0 text-nowrap mr-3 left-border">Our Courses</h3>
          </div>
        </div>
      </div>
      <!-- course list -->
  <div class="row justify-content-center">
    <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="assets/images/courses/course-1.jpg" alt="course thumb">
        <div class="card-body"> 
            <h5 class="card-title text-center">Course Name</h5>
          <p class="card-text mb-4">Dummy text</p>
          <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
        </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="assets/images/courses/course-2.jpg" alt="course thumb">
        <div class="card-body"> 
          <h5 class="card-title text-center">Course Name</h5>
          <p class="card-text mb-4">Dummy text</p>
        <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
      </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="assets/images/courses/course-3.jpg" alt="course thumb">
        <div class="card-body"> 
          <h5 class="card-title text-center">Course Name</h5>
          <p class="card-text mb-4">Dummy text</p>
        <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
      </div>
      </div>
    </div>
    <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
        <div class="card-body"> 
          <h5 class="card-title text-center">Course Name</h5>
          <p class="card-text mb-4">Dummy text</p>
        <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
      </div>
      </div>
    </div>

    <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
          <div class="card-body"> 
            <h5 class="card-title text-center">Course Name</h5>
            <p class="card-text mb-4">Dummy text</p>
          <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
        </div>
        </div>
      </div>

      <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
          <div class="card-body"> 
            <h5 class="card-title text-center">Course Name</h5>
            <p class="card-text mb-4">Dummy text</p>
          <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
        </div>
        </div>
      </div>

      <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
          <div class="card-body"> 
            <h5 class="card-title text-center">Course Name</h5>
            <p class="card-text mb-4">Dummy text</p>
          <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
        </div>
        </div>
      </div>

      <!-- course item -->
    <div class="col-lg-3 col-sm-6 mb-5">
        <div class="card p-0 border-primary rounded-0 hover-shadow">
          <img class="card-img-top rounded-0" src="assets/images/courses/course-4.jpg" alt="course thumb">
          <div class="card-body"> 
            <h5 class="card-title text-center">Course Name</h5>
            <p class="card-text mb-4">Dummy text</p>
          <a routerLink="/" class="btn btn-primary btn-sm">Read More...</a>
        </div>
        </div>
      </div>   
  </div>
    </div>
  </section>