<!-- footer -->
<footer>
 
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
            <h4 class="text-white mb-5">Techpreceptor</h4>
            <!-- logo -->
            <img class="img-fluid mb-4" src="assets/images/logo.png" alt="logo">
         </div>
          <!-- company -->
          <div class="col-lg-4 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Contact Us</h4>
            <ul class="list-unstyled">
              <li class="mb-2">Office: xxxxxx xxxxx xxxxx xxxx</li>
              <li class="mb-2">Mobile : xxx xxx xxxx</li>
              <li class="mb-2">Email-Id: info@techpreceptor.in</li>
            </ul>
          </div>
          <!-- links -->
          <div class="col-lg-4 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
            <h4 class="text-white mb-5">Connect With Us</h4>
            
              <ul class="list-inline">
                <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
                <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-youtube text-primary"></i></a></li>
              </ul>
          </div>
        </div>
        <hr/>
        <p style="text-align: center;"> About | Privacy Policy | Terms and Conditions | Feedback | Sitemap | Disclaimer</p>

      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="mb-0 text-center">Copyright 2022 | <a href="https://justdigitiz.in">Just Digitiz</a> | All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->