<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h3 class="mb-0 text-nowrap mr-3 left-border">Course Features</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <h6>IT Professionals as Trainers</h6>
                    <p>Learning a technology with a professional who is well expertise in that solve 60% of your needs.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <h6>Fully Hands-on Training</h6>
                    <p>We support any training should be more practical apart from theoretical classes.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <h6>Affordable <br/>Fees</h6>
                    <p>We are dead cheap in fees. We are having options to make the payment in instalments.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <h6>Old students to believe</h6>
                    <p>We satisfied 1000+ students from the day we started GangBoard. Take a look of our student’s reviews.</p>
                </div>
            </div>
        </div>
        </div>
        </section>
