<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center section-title justify-content-between">
                    <h3 class="mb-0 text-nowrap mr-3 left-border">Course Impact</h3>
                </div>
            </div>
        </div>
        <!-- course list -->
        <div class="row justify-content-center">

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <i class="fa fa-black-tie iconStyle iconStyle"></i><br>
                    <h6>Career <br/>Counselling</h6>
                    <p>Get personalised career pathing from experts to out the best opportunities.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <i class="fa fa-file iconStyle" aria-hidden="true"></i><br>
                    <h6>Resume <br/>Feedback</h6>
                    <p>Obtain specific, personalised inputs on your resume structure and content</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <i class="fa fa-book iconStyle" aria-hidden="true"></i><br>
                    <h6>Interview<br/> Preparation</h6>
                    <p>Receive one mock interviews conducted by industry mentors after an interview.</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 mb-1">
                <div class="ImpactBox">
                    <i class="fa fa-angellist iconStyle" aria-hidden="true"></i><br>
                    <h6>Internship<br/> Opportunity</h6>
                    <p>Get an opportunity to receive 6 months job training after completing your 2nd year</p>
                </div>
            </div>
        </div>
    </div>
</section>