<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('assets/images/backgrounds/page-title.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline custom-breadcrumb">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" routerLink="/courses">Courses</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">PHP</li>
        </ul>
        <p class="text-lighten">PHP Training provided by industry top most experienced persons. Our PHP trainers are
          having more than 10+ years of experience and they share what they learned in past years. PHP trainers are
          passionate about teaching the amazing web technologies to the students to get benefited in their careers. And
          we are giving the live client-side projects to get more detailed excellence to our PHP students. </p>
      </div>
    </div>
  </div>
</section>
<!-- /page title -->

<section class="section-sm">
  <div class="container">
    <!-- course info -->
    <div class="row align-items-center">
      <div class="col-xl-4 order-1 col-sm-6 mb-4 mb-xl-0">
        <h1 style="font-size: 20px;">PHP Training in Chennai</h1>
      </div>
      <div class="col-xl-4 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-book text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">COURSES</h6>
                <p class="mb-0">06 Month</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-alarm-clock text-primary icon-md mr-2"></i>
              <div class="text-left">
                <h6 class="mb-0">DURATION</h6>
                <p class="mb-0">03 Hours</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xl-4 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a data-toggle="modal" data-target="#enrollModal" class="btn btn-primary">Enroll Now</a>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
  </div>
</section>


<app-keyfeatures></app-keyfeatures>


<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 fulllength">
        <h3>PHP Course Curriculum</h3>
        <p>40 Hours of best-in-class content developed by leading faculty & industry leaders in the form of case studies
          & projects</p>
      </div>
      <div class="col-md-4 fulllength">
        <a href="#" class="btn btn-primary">Download Syllabus</a>
      </div>
    </div>
  </div>
</section>


<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="course-content-wrap">
          <div class="course-content-topic"> Session 1 Includes the Introductory part and the execution steps.</div>
          <div class="course-content-list">
            <ul>
              <li>Why do we need Python?</li>
              <li>Program structure</li>
              <li>Interactive Shell</li>
              <li>Executable or script files</li>
              <li>User Interface or IDE</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 2 There is Garbage collections and memory management and various
            types of data and their operations.</div>
          <div class="course-content-list">
            <ul>
              <li>CRObject creation and deletion</li>
              <li>Object properties</li>
              <li>Numbers</li>
              <li>Strings</li>
              <li>Tuple</li>
              <li>Dictionary</li>
              <li>Other Core Types.</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 3 There is Syntax and Statements</div>
          <div class="course-content-list">
            <ul>
              <li>Assignments, Expressions, and prints</li>
              <li>If tests and Syntax Rules</li>
              <li>While and For Loops</li>
              <li>Iterations and Comprehensions</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 4 includes File operations</div>
          <div class="course-content-list">
            <ul>
              <li>Opening a file</li>
              <li>Using Files</li>
              <li>Other File tools</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 5 Includes various functions of Python</div>
          <div class="course-content-list">
            <ul>
              <li>Function definition and call</li>
              <li>Function Scope</li>
              <li>Arguments</li>
              <li>Function Objects</li>
              <li>Anonymous Functions</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 6 Includes Modules and packages.</div>
          <div class="course-content-list">
            <ul>
              <li>Module Creations and Usage</li>
              <li>Module Search Path</li>
              <li>Module Vs. Script</li>
              <li>Package Creation and Importing</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 7 Imparts classes</div>
          <div class="course-content-list">
            <ul>
              <li>Classes and instances</li>
              <li>Classes method calls</li>
              <li>Inheritance and Compositions</li>
              <li>Static and Class Methods</li>
              <li>Bound and Unbound Methods</li>
              <li>Operator Overloading</li>
              <li>Polymorphism</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 8 Includes exception handling</div>
          <div class="course-content-list">
            <ul>
              <li>Default Exception Handler</li>
              <li>Catching Exceptions</li>
              <li>Raise an exception</li>
              <li>User defined exception</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 9 There are advanced concepts</div>
          <div class="course-content-list">
            <ul>
              <li>Defining Panda</li>
              <li>Pandas – Creating and Manipulating Data</li>
              <li>How to Create Data Frames?</li>
              <li>Importance of Grouping and Sorting</li>
              <li>Plotting Data</li>
            </ul>
          </div>
          <div class="course-content-topic"> Session 10 Django</div>
          <div class="course-content-list">
            <ul>
              <li>Django overview</li>
              <li>Creating a project</li>
              <li>Apps life cycle</li>
              <li>Admin interface</li>
              <li>Creating views</li>
              <li>URL Mapping</li>
              <li>Template system</li>
              <li>Models</li>
              <li>Form details</li>
              <li>Testing</li>
              <li>Page redirection</li>
              <li>Sending Emails</li>
              <li>Deploying Django framework</li>
              <li>Generic views</li>
              <li>Form processing</li>
              <li>File uploading</li>
              <li>Cookie handling</li>
              <li>Sessions, caching and comments</li>
              <li>RSS,AJAX</li>
            </ul>
          </div>
        </div>

        <div id="showmore1">
          <div id="showmore2">
            <a title="Show More Syllabus" id="showmore" href="javascript:changeheight()">Show More <i
                class="fa fa-arrow-circle-down" style="color: #002858;padding-left: 10px;"></i></a>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <app-sidebarenroll></app-sidebarenroll>
        <app-enrollcall></app-enrollcall>
        <app-upcomingbatch></app-upcomingbatch>
        <app-othermenu></app-othermenu>
      </div>
    </div>
  </div>
</section>

<app-coursecertification></app-coursecertification>
<app-coursesfeatures></app-coursesfeatures>
<app-courseimpact></app-courseimpact>
<app-nearbyaccessareas></app-nearbyaccessareas>
<app-dialogbox></app-dialogbox>
<app-footer-enroll></app-footer-enroll>