<div class="sidebarBox">
<p class="sidebarTitle">Request a Free Demo</p>

<div class="SidebarForm">
    <form>
        <input class="formbox" name="name" required="required" type="text" id="formname" placeholder="Name"/>
        <input class="formbox" name="email" required="required" type="email" id="formemail" placeholder="Email" /> 
        <input class="formbox"name="mobile" required="required" type="text" id="formmobno" placeholder="Mobile No"/>
        <select class="formbox" id="formcourses">
          <option>Select Courses</option>
        </select>
        <input type="hidden" name="hidden" value="" />
        <button class="btn btn-primary formbtn" name="submit" type="button">Book</button>
    </form>  
</div>
</div>
