<section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-5 fulllength">
            <h3>Course Certification</h3>
            <p>Tech Preceptor certificate is highly recognized.
             <ul>
     <li>Learn from the best faculty and industry experts.</li>
     <li>After successfully Completing the Realtime Industry projects</li>
     <li>Successful completion of given assignments</li>
     <li>Build job-ready skills to get ready for the workforce.</li>
             </ul>
             <a data-toggle="modal" data-target="#enrollModal" class="btn btn-primary">Enroll Now</a>
        </div>
        <div class="col-md-7 fulllength">
          <p>Certification Images</p>
        </div>
      </div>
    </div>
  </section>