<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('assets/images/backgrounds/page-title.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item"><a class="h2 text-primary font-secondary">Contact Us</a></li>            
          </ul>
          <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- contact -->
<section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="section-title left-border">Contact Us</h3>
        </div>
      </div>
      <div class="row">        
        <div class="col-lg-5">
        <p class="mb-3"><i class="fa fa-phone" aria-hidden="true"></i> <span>Phone :</span> <br/><a href="tel:+91 xxx xxx xxxx">+91 xxx xxx xxxx</a>
        </p>
        <p class="mb-3"><i class="fa fa-envelope" aria-hidden="true"></i> <span>Email :</span> <br/><a href="mailto:info@techpreceptor.in">info@techpreceptor.in</a>
        </p>
        <p class="mb-3"><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Address :</span> <br/>xxx xxx xxxx xxx xxx
        </p>
        </div>
        <div class="col-lg-7 mb-4 mb-lg-0">
            <app-sidebarenroll></app-sidebarenroll>
          </div>
      </div>
    </div>
  </section>
  <!-- /contact -->

  <!-- gmap -->
<section class="pt-0">
    <!-- Google Map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31096.50590164728!2d80.21213701954345!3d13.031644954459667!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x207795f4ae1de1e8!2sJust%20Digitiz%20-%20Full%20Fledged%20Digital%20Marketing%20Agency%20in%20Chennai%7C%20Advertising%20Agency%20%7C%20Marketing%20Agency%7CDigital%20Marketing%7C%20Product%20Launch%7C%20Photography%7C%20Ad%20Films!5e0!3m2!1sen!2sin!4v1647335525137!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </section>
  <!-- /gmap -->